@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');


.autoScrollUpButton{
    
    background-color: burlywood;
    color:black;
    
    height: auto;
    max-width: 6%;

    position:fixed;
    bottom:1rem;
    right:1rem; 
    
    border-radius:  30%;
    cursor: pointer;
}

.scrollUpImage{
    
    margin-top: 0.5rem;
    max-width: 90%;
    height: auto;

    
}