@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');


.autoScrollUpButton{
    
    background-color: burlywood;
    color:black;
    font-size: 4em;
    height: 10%;
    width: 5%;
    position:fixed;
    bottom:1rem;
    right:1rem; 
    border-radius: 50%;
    transition: margin-left 0.7s;
    cursor: pointer;
}

.scrollUpImage{
    transition: margin-left 0.7s;
    height: 90%;
    margin-top: 9%;
    
}