@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');

#sideNav {
    
    height: 100%; 
    width: 0; 
    top: 0; 
    left: 0;
    padding-top: 0.2rem;
    overflow-y: auto; 
    direction: ltr;
    position: fixed;
    z-index: 1; 
    border-right: white 0rem solid;
    background-color:  #000133; 
    transition: all 0.8s; 

    
}
  

#sideNav a {

    padding-top: 14.5%;
    padding-bottom: 14.5%;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    border: white solid 0.1rem;
    border-left: 0;
    overflow:hidden;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Nanum Gothic Coding', monospace;
    transition: 0.8s;
    
}

#sideNav a:hover {

    background-color: orange;

}
  
#mainContent {

    padding-left: 1.0rem;
    padding-top: 1.0rem;
    margin-left: 14.5rem;
    margin-right: 12rem;
    transition: margin-left 0.8s;

}
  

#navBarImage{

    height: auto;
    max-width: 5%;
    margin-top: 1rem;
    margin-left: 1rem;
    position: fixed;
    cursor: pointer; 
    transition: margin-left 0.7s ease-out, transform 1.7s ease-out;

}

