@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');

.typedOutText{

    overflow: hidden;
    border-right: 0.16rem solid orange;
    white-space: nowrap;
    animation: typing 5s, blinking 1s infinite;
    font-family: 'Nanum Gothic Coding';
}


  
@keyframes typing {
    from { width: 0% }
    to { width: 100%}
    

}

@keyframes blinking {
    from, to { border-color: transparent; }
    70% { border-color: purple; }
    
}