
.typedOutText{

    overflow: hidden;
    border-right: 0.16rem solid white;
    white-space: nowrap;

    animation: typingAnimation 3.5s, blinkingAnimation 1.25s infinite;

    font-family: 'Nanum Gothic Coding';
}


  
@keyframes typingAnimation {    

    from { width: 0% }
    to { width: 100%}
    

}

@keyframes blinkingAnimation {
    from, to { border-color: transparent }
    50% { border-color: white; }
    
}