@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');


html{

  background-color:  black; 
  font-family: 'Nanum Gothic Coding', monospace;
  
}


#homePageMainContent{

  margin-left: 14rem;

}

#homePageTitle{
  display: inline-block;
  
}


#homePageTypedOutText{

  font-size: 7em;
  color: white;
  margin-bottom: 0  

}

#homePageJobGoal{
  font-size: 2.75em; 
  color: darkgray;

  margin-top: 0.5rem;
  margin-bottom: 0;
  
}


/* ...{
  float: left;
  font-size: 1.7em;
  margin-right: 25.5rem;
  color: green;
  text-align: justify;
  text-justify: inter-word;

} */

