@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');



#homePageTitle{
  
  margin-top: 3rem;
  display: inline-block;
  border-radius: 10px;

  
  
}



#homePageHeaderTypedOut{

  margin-top: 13rem;

  font-size: 7em;
  color: white;
  margin-bottom: 0  

}

#homePageJobGoal{
  font-size: 2.75em; 
  color: #69BF41;

  margin-top: 0.5rem;
  margin-bottom: 0;
  
}

#homePageAboutMe{
  margin-top: 23rem;
  display: inline-block;
  background-color: #363233;
  border-radius: 10px;

  padding: 2rem;

  
}

#homePageAboutMeHeader{
  color: #69BF41;
  display: inline-block;
  font-size: 3em;
  
  font-family:  monospace;
}



#homePageAboutMeText{
  
  float: left;
  font-size: 2.0em;
  
  color: white;
  
  

}

#homePageMyGoals{
  margin-top: 23rem;
  margin-left: 0;
  margin-bottom: 1rem;
  background-color: #363233;
  border-radius: 10px;

  padding: 2rem;
}




#homePageMyGoalsHeader{
  color: #69BF41;
  font-size: 3em;
  display: inline-block;
  
  font-family:  monospace;
  
  
  
}

#homePageMyGoalsImg{
  float: left;
  
}

#homePageMyGoalsImg{
  
  width: fit-content;
  margin-top: 6rem;
  margin-right: 1.0rem;
  width: 50%;


}

#homePageMyGoalsText{
  font-size: 2.0em;
  margin-top: 1rem;
  color: white;
  
  

}

#homePageMyGoalsText li{
  margin-bottom: 3rem;
}


